.moreInfo {
    background-color: #f2f2f2; /* Change this color to your desired background */
  border: none;
  color: black;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.moreInfo:hover {
    text-decoration: underline;
}
#info {
    display: none;
}
.close {
    background-color: white;
    color: black;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}